#Edits to /etc/udev/rules.d/59-sata.rules
#Obtained from http://discussions.citrix.com/topic/372192-sata-pass-through/

LABEL="sata_symlink"

ACTION=="add", SYMLINK+="xapi/block/%k"
ACTION=="add", RUN+="/bin/sh -c '/usr/local/libexec/local-device-change %k 82d1dc6b-9d32-12f2-d85e-2bb7853af313 2>&1 >/dev/null&'"
ACTION=="remove", RUN+="/bin/sh -c '/usr/local/libexec/local-device-change %k 2>&1 >/dev/null&'"

LABEL="end_sata"
